USE [dbSAGA]
GO
/****** Object:  Table [dbo].[A_CTBA]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[A_CTBA](
	[ES_ID] [int] NOT NULL,
	[CLAVECCT] [char](10) NULL,
	[NOMBRECT] [char](100) NULL,
	[TURNO] [char](3) NULL,
	[LAT] [float] NULL,
	[LON] [float] NULL,
	[ICON] [varchar](15) NULL,
	[SAID] [nchar](1) NULL,
	[ES_INDTRA] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCA_Categoria]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCA_Categoria](
	[IdCat] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCA_Categoria1] PRIMARY KEY CLUSTERED 
(
	[IdCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCA_Infraestructura]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCA_Infraestructura](
	[IdInfra] [int] IDENTITY(1,1) NOT NULL,
	[DesInfra] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCA_Infraestructura1] PRIMARY KEY CLUSTERED 
(
	[IdInfra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCA_OfertaEducativa]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCA_OfertaEducativa](
	[IdCat] [int] NULL,
	[IdSubCat] [int] NULL,
	[IdAct] [int] NULL,
	[Descripcion] [nvarchar](255) NULL,
	[orden] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCA_Programas]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCA_Programas](
	[idprog] [int] IDENTITY(1,1) NOT NULL,
	[DesProg] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCA_Programas1] PRIMARY KEY CLUSTERED 
(
	[idprog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCA_SubCategoria]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCA_SubCategoria](
	[IdSubCat] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[IdCat] [int] NULL,
	[orden] [int] NULL,
 CONSTRAINT [PK_SCA_SubCategoria1] PRIMARY KEY CLUSTERED 
(
	[IdSubCat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCE008_Infraestructura]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCE008_Infraestructura](
	[es_id] [int] NULL,
	[idInfra] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCE008_Oferta]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCE008_Oferta](
	[es_id] [int] NOT NULL,
	[Actividades] [char](1) NULL,
	[OtrosProg] [varchar](max) NULL,
	[OtrasInfra] [varchar](max) NULL,
	[OtrosApoyos] [varchar](max) NULL,
	[RespondeNombre] [varchar](50) NULL,
	[RespondeCargo] [varchar](50) NULL,
	[RespondeNombre2] [varchar](50) NULL,
	[RespondeCargo2] [varchar](50) NULL,
	[RespondeNombre3] [varchar](50) NULL,
	[RespondeCargo3] [varchar](50) NULL,
	[RespondeNombre4] [varchar](50) NULL,
	[RespondeCargo4] [varchar](50) NULL,
	[Logro1] [varchar](100) NULL,
	[Logro2] [varchar](100) NULL,
	[Logro3] [varchar](100) NULL,
	[ciclo1] [varchar](15) NULL,
	[ciclo2] [varchar](15) NULL,
	[ciclo3] [varchar](max) NULL,
	[Descrip1] [varchar](max) NULL,
	[Descrip2] [varchar](max) NULL,
	[Descrip3] [varchar](max) NULL,
	[otras1] [varchar](max) NULL,
	[otras2] [varchar](max) NULL,
	[otras3] [varchar](max) NULL,
	[otras4] [varchar](max) NULL,
	[otras5] [varchar](max) NULL,
	[otras6] [varchar](max) NULL,
	[otras7] [varchar](max) NULL,
	[otras8] [varchar](max) NULL,
	[otras9] [varchar](max) NULL,
	[FechaActualizacion] [datetime] NULL,
 CONSTRAINT [PK_SCE008_Oferta] PRIMARY KEY CLUSTERED 
(
	[es_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCE008_OfertaLista]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCE008_OfertaLista](
	[es_id] [int] NULL,
	[Idact] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCE008_Programas]    Script Date: 05/09/2017 09:59:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCE008_Programas](
	[es_id] [int] NULL,
	[idProg] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[A_CTBA] ([ES_ID], [CLAVECCT], [NOMBRECT], [TURNO], [LAT], [LON], [ICON], [SAID], [ES_INDTRA]) VALUES (1539, N'22DES0001A', N'CONSTITUCION DE 1917                                                                                ', N'VES', 20.5899568, -100.4087975, NULL, N'S', N'S')
INSERT [dbo].[A_CTBA] ([ES_ID], [CLAVECCT], [NOMBRECT], [TURNO], [LAT], [LON], [ICON], [SAID], [ES_INDTRA]) VALUES (1484, N'22DES0001A', N'CONSTITUCION DE 1917                                                                                ', N'MAT', 20.5899568, -100.4087975, NULL, N'S', N'S')
INSERT [dbo].[A_CTBA] ([ES_ID], [CLAVECCT], [NOMBRECT], [TURNO], [LAT], [LON], [ICON], [SAID], [ES_INDTRA]) VALUES (1349, N'22DES0002Z', N'ANTONIO CASO                                                                                        ', N'MAT', 20.3920896, -99.9942648, NULL, N'S', N'S')
GO
SET IDENTITY_INSERT [dbo].[SCA_Categoria] ON 

INSERT [dbo].[SCA_Categoria] ([IdCat], [Descripcion]) VALUES (1, N'EXTRA CURRICULAR')
INSERT [dbo].[SCA_Categoria] ([IdCat], [Descripcion]) VALUES (2, N'TECNOLÓGICA')
INSERT [dbo].[SCA_Categoria] ([IdCat], [Descripcion]) VALUES (3, N'OTROS APOYOS Y RECURSOS')
SET IDENTITY_INSERT [dbo].[SCA_Categoria] OFF
SET IDENTITY_INSERT [dbo].[SCA_Infraestructura] ON 

INSERT [dbo].[SCA_Infraestructura] ([IdInfra], [DesInfra]) VALUES (1, N'Cancha de fútbol')
INSERT [dbo].[SCA_Infraestructura] ([IdInfra], [DesInfra]) VALUES (2, N'Cancha de fútbol rápido')
INSERT [dbo].[SCA_Infraestructura] ([IdInfra], [DesInfra]) VALUES (3, N'Cancha de basquetbol, voleibol')
SET IDENTITY_INSERT [dbo].[SCA_Infraestructura] OFF
INSERT [dbo].[SCA_OfertaEducativa] ([IdCat], [IdSubCat], [IdAct], [Descripcion], [orden]) VALUES (1, 1, 1, N'Atletismo ', NULL)
INSERT [dbo].[SCA_OfertaEducativa] ([IdCat], [IdSubCat], [IdAct], [Descripcion], [orden]) VALUES (1, 1, 2, N'Basquetbol ', NULL)
INSERT [dbo].[SCA_OfertaEducativa] ([IdCat], [IdSubCat], [IdAct], [Descripcion], [orden]) VALUES (1, 1, 3, N'Fútbol ', NULL)
SET IDENTITY_INSERT [dbo].[SCA_Programas] ON 

INSERT [dbo].[SCA_Programas] ([idprog], [DesProg]) VALUES (1, N'Apoyo USAER')
INSERT [dbo].[SCA_Programas] ([idprog], [DesProg]) VALUES (2, N'Ver bien para aprender mejor')
INSERT [dbo].[SCA_Programas] ([idprog], [DesProg]) VALUES (3, N'Desayunos en caliente')
SET IDENTITY_INSERT [dbo].[SCA_Programas] OFF
SET IDENTITY_INSERT [dbo].[SCA_SubCategoria] ON 

INSERT [dbo].[SCA_SubCategoria] ([IdSubCat], [Descripcion], [IdCat], [orden]) VALUES (1, N'Deportivas', 1, 1)
INSERT [dbo].[SCA_SubCategoria] ([IdSubCat], [Descripcion], [IdCat], [orden]) VALUES (2, N'Recreativas', 1, 3)
INSERT [dbo].[SCA_SubCategoria] ([IdSubCat], [Descripcion], [IdCat], [orden]) VALUES (3, N'Culturales', 1, 2)
SET IDENTITY_INSERT [dbo].[SCA_SubCategoria] OFF
INSERT [dbo].[SCE008_Infraestructura] ([es_id], [idInfra]) VALUES (1313, 9)
INSERT [dbo].[SCE008_Infraestructura] ([es_id], [idInfra]) VALUES (1313, 5)
INSERT [dbo].[SCE008_Infraestructura] ([es_id], [idInfra]) VALUES (1313, 4)
GO
INSERT [dbo].[SCE008_OfertaLista] ([es_id], [Idact]) VALUES (434, 1)
INSERT [dbo].[SCE008_OfertaLista] ([es_id], [Idact]) VALUES (434, 2)
INSERT [dbo].[SCE008_OfertaLista] ([es_id], [Idact]) VALUES (434, 3)
GO
INSERT [dbo].[SCE008_Programas] ([es_id], [idProg]) VALUES (1313, 8)
INSERT [dbo].[SCE008_Programas] ([es_id], [idProg]) VALUES (1313, 1)
INSERT [dbo].[SCE008_Programas] ([es_id], [idProg]) VALUES (1313, 6)
